In [1]:
import pandas as pd
import numpy as np
import shutil
import os
import glob

In [2]:
# /raid1/TomoNetData/DataSet$ du -hs LatinSphericalHarmonicsAcousticBall* > ../Script/size.txt

ModelCatalog = dict()
ModelCatalog['Size'] = []
ModelCatalog['ModelName'] = []
ModelCatalog['ModelIndex'] = []

with open("./size.txt", 'r') as f:
    for line in f:
        SizeString = line.split()[0]
        if SizeString.endswith('K'):
            Size = float(SizeString.split('K')[0])/1000
        elif SizeString.endswith('M'):
            Size = float(SizeString.split('M')[0])
        ModelName = line.split()[1]
        ModelIndex = int(ModelName[-4::])

        ModelCatalog['Size'].append(Size)
        ModelCatalog['ModelName'].append(ModelName)
        ModelCatalog['ModelIndex'].append(ModelIndex)

df = pd.DataFrame(data=ModelCatalog)
df

      Size                                ModelName  ModelIndex
0     45.0  LatinSphericalHarmonicsAcousticBall3000        3000
1     45.0  LatinSphericalHarmonicsAcousticBall3001        3001
2     45.0  LatinSphericalHarmonicsAcousticBall3002        3002
3     45.0  LatinSphericalHarmonicsAcousticBall3003        3003
4     45.0  LatinSphericalHarmonicsAcousticBall3004        3004
...    ...                                      ...         ...
6995  45.0  LatinSphericalHarmonicsAcousticBall9995        9995
6996  45.0  LatinSphericalHarmonicsAcousticBall9996        9996
6997  45.0  LatinSphericalHarmonicsAcousticBall9997        9997
6998  45.0  LatinSphericalHarmonicsAcousticBall9998        9998
6999  45.0  LatinSphericalHarmonicsAcousticBall9999        9999

[7000 rows x 3 columns]

In [9]:
float(SizeString.split('K')[0])

4.0

In [4]:
SizeString

'4.0K'

In [22]:
df.loc[df['Size'] < 1 ].ModelIndex.tolist()

[3050, 3190, 3624, 4082, 4837, 4934, 5817, 6107, 6840, 7693, 8874, 9223, 9329]

In [42]:
for imodel in [3186]:
    ModelName = 'LatinSphericalHarmonicsAcousticBall%04d' %imodel
    shutil.rmtree('../Runs/%s/output/' %ModelName)
    backupdir = glob.glob('../Runs/%s/output*' %ModelName)[0]
    os.rename(backupdir, '../Runs/%s/output/' %ModelName)

In [34]:
# Still ERROR
[3186, 3624, 4082, 5817, 6107, 9223, 8609, 8610, 8611, 8612, 8613, 8614, 8615, 8616, 8617, 3309, 4363, 5894, 6419, 9720]

[3624, 4082, 5817, 6107, 9223]

In [51]:
for imodel in [3186, 3624, 4082, 5817, 6107, 9223, 8609, 8610, 8611, 8612, 8613, 8614, 8615, 8616, 8617, 3309, 4363, 5894, 6419, 9720]:
    ModelName = 'LatinSphericalHarmonicsAcousticBall%04d' %imodel
    # shutil.rmtree('../Runs/ERRORRuns/%s/output/' %ModelName)
    shutil.move('../Runs/ERRORRuns/%s/input' %ModelName, '../Runs/%s/' %ModelName)
    # backupdir = glob.glob('../Runs/%s/output*' %ModelName)[0]
    # os.rename(backupdir, '../Runs/%s/output/' %ModelName)

In [29]:
ModeName

'LatinSphericalHarmonicsAcousticBall3050'

In [47]:
df.loc[(df['Size'] < 45) & (df['Size'] > 20)]

      Size                                ModelName  ModelIndex
309   40.0  LatinSphericalHarmonicsAcousticBall3309        3309
1363  43.0  LatinSphericalHarmonicsAcousticBall4363        4363
2894  40.0  LatinSphericalHarmonicsAcousticBall5894        5894
3419  43.0  LatinSphericalHarmonicsAcousticBall6419        6419
6720  32.0  LatinSphericalHarmonicsAcousticBall9720        9720

In [46]:
df.loc[(df['Size'] < 45) & (df['Size'] > 20)].ModelIndex.tolist()

[3309, 4363, 5894, 6419, 9720]

In [3]:
np.bincount(df['Size'])

array([   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0, 7000])